body{background-color: #848442;}
h1{color: red;}
div {margin-top: 30; margin-left: 50px; margin-bottom: 60px; margin-right: 50px;}
p{color: lightgoldenrodyellow;}
style div {background-image: url(photos/rajkumar1.jpg);}